/* To have smooth, paper-like background and kinda carcoal text */
body {
    background-color: #F9F8F6;
    color: #2D2D2D; 
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    display: flex;
    justify-content: center; 
    padding: 2rem;
    /* notebook like background */
    background-image: radial-gradient(rgba(45, 45, 45, 0.15) 1px, transparent 1px);
    background-size: 25px 25px;
}

/* Wobbly border trick for the main card */
.sketch-card {
    background-color: white;
    border: 3px solid #2D2D2D;
    padding: 2rem;
    max-width: 600px;
    /* To make a hand drawn impression */
    border-radius: 255px 15px 255px 15px / 15px 255px 15px 255px;
    margin-top: 2rem;
}

/* Tilted button */
.sketch-button {
    background-color: #E2B14B;
    color: #2D2D2D;
    border: 2px solid #2D2D2D;
    padding: 10px 20px;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    cursor: pointer;
    /* Hand-drawn effect */
    border-radius: 15px 255px 15px 255px / 255px 15px 255px 15px;
    transform: rotate(-2deg);
    transition: transform 0.2s ease;
}

.sketch-button:hover {
    transform: rotate(1deg)
scale(1.05);    
}

.sketch-line {
    border: 0;
    height: 3px;
    background: #2D2D2D;
    width: 60%;
    margin: 3rem auto;
    border-radius: 50%;
    transform: rotate(-1deg);
}