<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be The Mystic</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <video autoplay loop muted playsinline class="bg-video">
        <source src="{{ url_for('static', filename='images/mysticbg.mp4') }}" type="video/mp4">
    </video>

    <header class="drip-header">


<nav class="navbar">
    <div class="logo-circle">
        <img src="{{ url_for('static', filename='images/github-logo.png') }}" alt="My logo">
    </div>
    <div class="webtitle">
    <h1>BE THE <span class="highlight">MYSTIC</span></h1>
    </div>
    <div class="nav-links">
        <a href="{{ url_for('part1') }}">Part 1</a>
        <a href="{{ url_for('part2') }}">Part 2</a>
        <a href="{{ url_for('part3') }}">Part 3</a>
    </div>
</nav>

</header>



    <main class="container">

         <section class="sketch-card">
            <h4>You have 80,000 hours in your career. That’s indeed a long time.
                I guess you can easily spend one or two of those hours on this guide
                so that you don't regret the remaining ones like JIM</h4>

                <div class="imagecontainer">
            <img src="/static/images/icecream-taster.webp" id="homeicecream" alt="ice cream eater">
                </div>
        </section>

        <header>
            <p>Be-The-Mystic is a guide which is inspired by 80000 hour career guide.
            This guide shows results of different studies which were done in the past 3 decades.
            Also you will understand why organizations like HackClub are more important than big corps like Meta.</p>
            <p class="margin-note">Is earning a lot of Money really the goal? Perhaps Or Perhaps Not? Read the guide and you will have better idea than you have now.</p>
        </header>
        <br>


          <section class="sketch-card">
            <h3>I have an IMPORTANT message for you. It's from your future self...probably or it might be from a random guy idk.</h3>
            <details class="mystic-reveal">
                <summary>Click here to reveal the message. . .</summary>
                <h1>STAY!</h1>
            </details>

        </section>
        <br>
        <br>

        <section class="sketch-card">
            <h2>Your Journey Starts Here</h2>

            <p>Most career guides ask what passions what hobbies do you have. Is it right to follow passion blindly perhaps orr perhaps not. Find that out in the guide.</p>
            <a href="{{ url_for('part1') }}" class="sketch-button" style="text-decoration: none; display: inline-block;">Begin</a>
        </section>
  
        
    </main>
    
</body>
</html>