<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be The Mystic</title>

    <!--Might Have to fix first 2 links-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <main class="container">
        <header>
            <h1>BE THE MYSTIC</h1>
            <p>Find your path.Build a better world and random ahh shit babab lalla cxyzyx jjfs</p>
        </header>

        <section class="sketch-card">
            <h2>Your Journey Starts Here</h2>

            <p>Most carrer guide ask what passions what hobbies do you have.Is that right perhaps is that wrong perhaps</p>
            <button class="sketch-button">Begin</button>
        </section>
    </main>
    
</body>
</html>