<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 3</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div id="cursor-follower"></div>

    <main class="container">
        <section class="sketch-card article-card">
           <div class="imagecontainer">
            <img src="/static/images/holymeme.webp" id="holymeme" alt="ice cream eater">
                </div>
           
            <h1>No Matter Your Job, Here’s 3 Evidence-Based Ways Anyone Can Have A Real Impact:</h1>
            <p>No matter which career you choose, anyone can make a difference by donating to charity, engaging
                in advocacy, or volunteering.
                </p>
            <p>Take sponsored skydiving for example( you can read about this online it was a failure and boring stuff to read so not including about it here).</p>
            <div class="imagecontainer">
            <img src="/static/images/skydive.jpg" id="doctors" alt="ice cream eater">
                </div>
            <p>What about volunteering? While it can be effective in the right circumstances, it’s often not
                as untrained volunteers use the time of trained managers, it’s easy for them to cost the org
                more than the value. Although there is still some good part which is why volunteering is still
                a thing if not best.</p>
                
            <p>In our research, we’ve found that any college graduate in a rich country can do a huge amount to improve the lives of others — and they can do this without changing jobs, or making big sacrifices.
            </p>
            <h3>We’ll cover 3 examples:</h3>
            <h4>1.Donating 10% of your income to effective charities.
                <br>
                <br>
                2.Advocating for important causes.
                <br>
                <br>                
                3.Helping others be more effective.</h4>    
        </section>



    </main>
    
</body>
</html>