<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part1</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div id="cursor-follower"></div>

    <main class="container">
        
        <section class="sketch-card article-card">

            <h1>Part 1: The Big Picture And Dreams</h1>

            <p>You have 80.000 hours in your career. That’s indeed a long time.
                I guess you can easily spend one or two of those hours on this guide
                so that you don't regret the remaining ones.
            <p>Aim of this guide is to
                find a career for you which is satisfying and will make you an assit
                for humanity.
                This guide is inspired from 80000 hours Career guide.
                https://80000hours.org/career-guide/
            </p>

           
        </section>

        <section class="sketch-card article-card">

            <h2>60 studies were reviewed for what makes for a dream job.Here’s what they found:</h2>
            <div class="imagecontainer">
            <img src="/static/images/icecream-taster.webp" id="icecream" alt="ice cream eater">
                </div>
            <p>What is dream job for you? Some of you would say discovering passion and working
                in that field, while others would think key element of dream job is less stress and highly paid.
                But all these stuides and 3 decades of research into the cause of a satisfying life and career
                they didn't find much evidence for these views.</p>

            <p>Then what did they find?
                They found 6 key ingredients of a dream job.Income and just “follow your passion”
                excluded suprizengly.In fact, just following passion blindely can lead you astra.Steve
                Jobs was passionate about Zen Buddhism before entering technology.Rather, you can
                develop passion by doing work that you find enjoyable and meaningful.The key is to
                get good at something that helps other people</p>    
        </section>

        <section class="sketch-card article-card">
            <p>To find a dream job, look for:
                <br>
                1. Work you're good at.
                <br>
                2. Work that helps others.
                <br>
                3.Supportive conditions: engaging work that makes you enter flow state, supportive colleagues,
                lack of major negatives like unfair pay, and work that fits your personal life.</p>
        </section>

        <section class="sketch-card article-card">
            <h2>Brain Is Not Your Friend(Mostly):</h2>
            <p>You can probably think of times in your life when you were excited about something,
                like a holiday, party, hangout or a event --- but when it actually happened, it was just OK.
                Research has shown that this is common: we’re not always great at predicting what will
                make us most happy, and we don’t realise how bad we are at this.</p>
            
            <h4>The fact that we often judge the pleasure of an experience by its ending can cause us to make some curious choices.
                <br>
               --Prof Dan Gilbert, Stumbling on Happiness</h4>

            <p>If you missed your flight on the last day of an enjoyable holiday,you’ll probably remember
                the holiday as just OK.
                <br>
                This means we can’t just trust our intuitions;we need a more systematic way of working out
                which job is best for us.</p>   
        </section>

        <section class="sketch-card article-card">
            <h2>Overratted goals for a fulfilling career:</h2>

            <h4>People often imagine that a dream job is well paid and easy.
                <br>
                In 2015 US survey:
                <br>
                1.Is it highly paid?
                <br>
                2.Is it going to be highly paid in future?
                <br>
                3.Is it stressful?
                <br>
                4.Is the working environment unpleasant?</h4>

            <p>Based on this, best job was: actuary. A job where you use statistics to measure and manage
                risks, mostly in insurance industry.It’s true that employees in this job are more satisfied with
                their jobs than average, but still not among top most satisfied jobs.Majority of them say their
                job is not that meaningful as it only benefits that corporation they work for.</p>

            <h4>So, many evidences suggests that money and avoiding stress aren’t that important.</h4>
            
            <h3>Money makes you happier, but only a little:</h3>
            
            <p>I am not here to preach or debate about philosphy that can money buy happiness or not?
                But people commonly think more money is the main thing which will improve quality of
                their lives.
            <br>
                Is that true statistically?
            <br>
                Here are the findings from a huge survey in US in 2010:</p>

                <div class="imagecontainer">
            <img src="/static/images/lifesatisandmoney.webp" id="statmoney" alt="ice cream eater">
                </div>

            <p>This graphs show us if you are already being paid fair for your work no matter how much
                more money you start earning, your life satisfaction will not increase much.We can see here
                even when money is increased significantly life satisfaction haven’t increased much after
                6.5 or 7.</p>  
                
            <p>Now if we look at day-to-day happiness, income seems even less important.”Positive affect”
                graph shows whether people reported feeling happy yesterday.</p>

                   <div class="imagecontainer">
            <img src="/static/images/possitveeffect.webp" id="statmoney" alt="ice cream eater">
                </div>

                
            <p>We can see that line goes almost flat around $50,000, showing that beyond this point, income had no relationship with day-to-day happiness in this survey.</p>    

            <p>The picture is similar if we look at the fraction who report being “not blue(emotionally stable)
                or “stress free” yesterday.</p>

                   <div class="imagecontainer">
            <img src="/static/images/stressfree.webp" id="statmoney" alt="ice cream eater">
                </div>


            <p>So all this data shows that lines are completely flat by $90,000.Beyond this point, income had no
                relationship with how happy, sad, or stressed people felt.
                This was suprizing for all so data was checked multiple time to see errors but it was same always.
            </p>
            
            <h4>High income improves evaluation of life but not emotional well-being,
                <br> 
                --D. Kahneman and A. Deaton, 2010,</h4>

            <p>All this data doesn’t mean money isn’t important or you shouldn’t focus on it at all.It just means
                if you are already earning well, then more money will not give you more happiness and money should be one of the thing you focus on not the only thing you focus on. </p>

                   <div class="imagecontainer">
            <img src="/static/images/moneymoney.webp" id="moneymoney" alt="ice cream eater">
                </div>


            <h3>Don't Aim for low stress:</h3>
            
            <p>Most prople want a job that’s not too stressful.It’s true and everyone know
                stress is bad for you but we don’t need stress we need eustress.So ya picture is
                a bit more complicated.</p>

            <p>If we think about high-rank government and military leaders we might think that
                they will have high stress as they have more responsibility, more people to manage
                and less sleep mostly.But if we look at data it’s completely opposite they have less
                stress hormones and less anxiety.One explanation for  this can be due to greater sense
                of control(setting schedules, dueties and thinking how to tackle challenges).</p>
                
            <h4>The perfect spot looks somewhat like this:
                <br>
                1. Challenging but achievable
                <br>
                2. Duration Short-term(can have holidays)
                <br>
                3. High control and autonomy
                <br>
                4. High Power
                <br>
                5. Good social support
                <br>
                6. demands=opprtunities and stress=useful
                <br>
                8. Have ultimate goal for your actions.</h4>
                
            <p>Graph for this will look like this:</p>
            
               <div class="imagecontainer">
            <img src="/static/images/flowzonestress.webp" id="statstress" alt="ice cream eater">
                </div>

        </section>

        <section class="sketch-card article-card">
            <h2>6 Ingredients for Dream Job:</h2>

            <h3>1.Work That's Engaging:</h3>
            <p>It's not salary, not status, not type of company and so on, what matters is what you do
                day by day and hour by hour.</p>

            <p>Engaging work = work that draws you in, holds your attention and give sense of flow.
                Due to this reason hour spent editing a spreadsheet feels like forever and playing video
                game feels like time is running at 2x.As video games are made as engaging as possible.</p>

                   <div class="imagecontainer">
            <img src="/static/images/gtav.webp" id="statmoney" alt="ice cream eater">
                </div>

                
            <h4>Why are Video games engaging(corelate with work you would like to do [if you know])
                <br>
                1. Freedom to decide how to perform your work/task.
                <br>
                2. Clear tasks and goals.
                <br>
                3. Variety in the types of tasks.
                <br>
                4. Feedback, to know how well you're doing</h4>
                
            <h3>2. Work That Helps Others</h3>
            
            <p>There are jobs which can be Engaging but they will lack meaning as they are not actually
                helpling other people that much. Although you should not underestimate a job thinking that
                this job is useless always research first.For example a video game streamer might be
                motivationg more people than an actual motivational speaker.</p>

            <p>There's a lot of growing evidence that helping others is a key ingredient for life
                satisfaction. People who volunteer are less depressed and healthier.Global surveys
                also shows that people who donation to charity are as satisfied with their lives as those
                who earn twice as much.</p>
                
            <h3>3. Work You're Good At</h3>
            
            <p>Being good at your work gives you a sense of achivement, a key ingredient of life
                satisfaction.This will also give you power to ask for conditions like ability to work
                on meaningful projects, doing engaging tasks and earn fair pay.</p>

            <p>This shows us SKILL>INTREST. If you are intrested in art but you are not good enough
                you will have to work on low level boring projects which you won't like at all.</p>
                
            <p>All this does't mean you should only do work you are good at rather choose a meaningful
                intrest that you can develop as a skill and become good in it, become the very best top 1%.</p>    

            <h3>4. Work With Supportive Colleagues</h3>
            
            <p>Obviously, if you hate your colleagues and work for a boss from hell, you’re not going
                to be satisfied at all. It is important to make friends at work which will mean there are
                people similar to you. The most important factor is whether you can get help from
                your colleagues when you run into a problem which means you need “social support”
                at work most of all.You also don’t need everyone to be your friend it’s not nessesary
                people who can disagree with you can provide you useful feedbacks.</p>

            <h4>A bad boss can ruin a dream position, while even boring work can be fun if done with
            a friend.</h4>
            
            <h3>5. Work That Doesn't Have Major Negatives</h3>
            <p>Everything above is important but absence of things that would make work unpleasant
                is also imporatant as even 1 negative can outweigh many other positive factors.
                </p>

            <h4>1. A long commute
                <br>
                2. Very long hours
                <br>
                3. Pay you feel is unfair
                <br>
                4. Job insecurity</h4> 
                
            <p>These might sound obvious, but people often overlook them.</p>
            
            <h3>6. Work That Fits With The Rest Of Your Life</h3>
            <p>You don’t need to find that one perfect job which get all ingredients of fulfilling
                life.You can have a high paying job which has less meaning but you can still help
                people with your money/charity.</p>

                   <div class="imagecontainer">
            <img src="/static/images/peace.webp" id="thorfin" alt="ice cream eater">
                </div>


            <h4>Einstein had his most productive year in 1905, while working as a clerk at a patent office.
                While most of us would have thought to get a job as a scientist to work in labs somehow.
                </h4>
                
            <p>So this last factor is a reminder to consider how your career fits with the rest of your life.
            </p>    
        </section>

        <section class="sketch-card article-card">
            <h2>Should U Just Follow Your Passion?</h2>

            <p>When we talk about career/future job most people now would just say “Follow your passion”
                do what you are intrested in. The main idea is that if you do what you like = happy life and
                career and we often see successful prople are passionate about what they do. So in some
                sense yes Follow Your Passion can work but Not Always.</p>

                   <div class="imagecontainer">
            <img src="/static/images/followpassion.jpg" id="statmoney" alt="ice cream eater">
                </div>


            <h3>Here are 3 ways “follow your passion” can be misleading advice:</h3>
                <h4>1st Problem is that “follow your passion” suggests that passion is all you need. But we
                previously saw that if you lack 6 ingredients from above, you’ll be unsatisfied.
                If a basketball fan gets a job involving basketball, but works with people he don’t like,
                receives unfair pay, or find the work meaningless, they are still going to dislike their
                job.</h4>
                <p>In fact, “following your passion” can make it harder to satisfy the 6 ingredients, as the
                    areas you’re passionate about are likely to be the most competitive, which makes it
                    harder to find a good job.</p>

                       <div class="imagecontainer">
            <img src="/static/images/passionjob.webp" id="statmoney" alt="ice cream eater">
                </div>


                <h4>2nd Problem is many people don’t feel like they have a career-relevant passion.
                    If you don’t have a “passion,” don’t worry ---you can still find work you’ll become
                    passionate about.</h4>
                    
                <h4>3rd Problem is that it can make people limit their options. What if there is a job you
                    don’t know about or are ignoring because you don’t have passion in that field but
                    when you finally did that job you enjoyed it more than your current job which you
                    are passionate about.</h4>
                    
                <p>It’s easy to have the idea that your “one true passion” will be immediately obvious, and
                    eliminate options that aren’t immediately satisfying.</p>
                    
                <p>If you could find a nice job with 6 ingredients we talked about you could easily become
                    passionate about that job even if you didn’t like it in the beginning.</p>

                <p>
                    Many successful people are passionate, but often their passion developes alongside
                    their success and took a long time to discover, rather than coming first. Steve Jobs
                    was passionate about Zen Buddhism. Then He got into tech, his passion grew with his
                    success.</p>
                    
                <p>In reality, our interests change often, most of us are intrested in 100s of different things.
                    Think back to what you were most interested in 5 years ago, and you’ll probably find
                    that it’s different from what you’re interested in now. Another proof that we’re bad at
                    knowing what really makes us happy.</p>
                    
                <h4>ALL of this means you have more options for a fulfilling career than U think.</h4>    
        </section>

        <section class="sketch-card article-card">
            <h2>Do What Contributes</h2>
            <p>Our slogan for fulfilling career rather than “follow your passion would be: get good at
                something that helps others. <br>Or simply: do what contributes.
                <br>
                <br>
                I prioritise helping other, having a meaningful work because if this would check the list
                you would be an asset to humanity, yourself, your family and everyone around you.

                <h4>If you prioritise making a valuable contribution to the world first, you’ll develop passion
                    for what you do ---you’ll become more content, ambitious, and motivated.
                    <br>
                    <br>
                       <div class="imagecontainer">
            <img src="/static/images/buddha.webp" id=" buddha" alt="ice cream eater">
                </div>

                        <br>
                        <br>
                    Here are 2 more reasons to focus on getting good at something that helps others.</h4>

                <h3>1. You could be more successful</h3>
                <p>If you would do your best to help others naturally other good people would want you to
                    be more successful too. You will also recive help when you need it.
                    Also people with “giving mindset” end up among the most successful people too. This is
                    both because they get more help, and they’re more motivated by a sense of purpose.</p>    
                    <br>
                    You need to be carefull though with everything you do in your life there should be balance.
                    If you focus too much on others, and burn out you will end up unsuccessful so balance and
                    6 ingredients are required to some extent in our life.</p>

                <h3>2. It’s the right thing to do</h3>
                <h4>Set your heart on doing good. Do it over and over again and you will be filled with joy.
                    <br>
                    – Buddha
                    <br>
                    <br>
                    A man’s true wealth is the good he does in this world.
                    <br>
                    – Muhammad
                    <br>
                    <br>
                    Love your neighbour as you love yourself.
                    <br>
                    – Jesus Christ
                    <br>
                    <br>
                    Charity given out of duty, without expectation of return, at the proper time and place, and to a worthy person is considered to be in the mode of goodness.
                    <br>
                    – Krishna
                    <br>
                    <br>
                    Be a good human for humanity.
                    <br>
                    – Me    
                    </h4>
        </section>

        <section class="sketch-card article-card">
            <h2>Conclusion</h2>
            <p>To have a dream job, don’t worry too much about money and stress, and don’t endlessly
                self-reflect to find your one true passion.
                <br>
                <br>
                Rather, get good at something that is best for you, for the world , something that helps
                others.</p>

            <h4>Keep following the guide to get answers for questions you still have in your mind.</h4>    
        </section>

        <section class="sketch-card article-card">
            <h2>Applying This To Your Own Career</h2>

            <p>These 6 ingredients, especially helping others and getting good at your job, can act as
                guiding light --- they’re what to aim for to find in a dream job long term.</p>

            <h3>Here are some exercises to help you start applying them:</h3>
            <h4>1. Comparisons using 6 ingredients. Pick 2 options you are intrested in, then score
                them 1 to 5 on each factor.
            <br>
            <br>
            2. 6 ingredients are the starting point there are other things that should not be ignored.
                We told past experiences are not very reliable but they still can’t be ignored.
                <br>
                <br>
                These questions should give you hints about what you find most fulfilling:
                <br>
                <br>
                • When have you been most fulfilled in the past? What did these times have in common?
                <br>
                <br>
                • Imagine you just found out you’re going to die in 10 years. What would you spend your time doing?
                <br>
                <br>
                • Can you make any of our six factors more specific? For example, what kinds of people do you most like to work with?
                <br>
                <br>
                3. Now, combine our list with  your own thoughts to determine 4 to 8 factors which are
                most important to you in a dream job.
                <br>
                <br>
                4. Don’t expect to find an option that’s best on every dimension; rather, focus on finiding
                the option that’s best on balance.
            </h4>

        </section>

         <div class="nav-buttons">
                <a href="{{ url_for('home') }}" class="sketch-button nav-btn">&larr; Back Home</a>
                <a href="#" class="sketch-button nav-btn">Part 2: What to work on &rarr;</a>
            </div>

    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>