<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 3</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div id="cursor-follower"></div>

    <main class="container">
        <section class="sketch-card article-card">
           <div class="imagecontainer">
            <img src="/static/images/holymeme.webp" id="holymeme" alt="ice cream eater">
                </div>
           
            <h1>No Matter Your Job, Here’s 3 Evidence-Based Ways Anyone Can Have A Real Impact:</h1>
            <p>No matter which career you choose, anyone can make a difference by donating to charity, engaging
                in advocacy, or volunteering.
                </p>
            <p>Take sponsored skydiving for example( you can read about this online it was a failure and boring stuff to read so not including about it here).</p>
            <div class="imagecontainer">
            <img src="/static/images/skydive.jpg" id="doctors" alt="ice cream eater">
                </div>
            <p>What about volunteering? While it can be effective in the right circumstances, it’s often not
                as untrained volunteers use the time of trained managers, it’s easy for them to cost the org
                more than the value. Although there is still some good part which is why volunteering is still
                a thing if not best.</p>
                
            <p>In our research, we’ve found that any college graduate in a rich country can do a huge amount to improve the lives of others — and they can do this without changing jobs, or making big sacrifices.
            </p>
            <h3>We’ll cover 3 examples:</h3>
            <h4>1.Donating 10% of your income to effective charities.
                <br>
                <br>
                2.Advocating for important causes.
                <br>
                <br>                
                3.Helping others be more effective.</h4> 
                
                            
            <h2>1.Donating effectively</h2>
            <p>How can you take whichever job you find the most personally rewarding, and
                do a huge amount of good?</p>
            <p>How much good can donations do?</p>
               <p>There are many platforms which has made it possible to give cash directly to the poorest
                people in East Africa via mobile phone.
                <br>
                Surely this might not be the most effective way to donate to charity by any means-- but
                it’s simple and quantifiable, so it makes a good starting point.        
                </p> 
            <p>As we saw in part one, the more money you have, the less additional money will improve your life. For instance, in the US, doubling your income is only associated with about a half-point gain in life satisfaction on a scale of 1 to 10.</p>
            <h3>These surveys have been extended across the world. These are the examples in the chart  
            below.</h3>
                <img src="/static/images/countries.webp" id="holymeme" alt="ice cream eater">
                </div>

            <p>The average US college graduate has an annual individual working income of about $77,000 (in 2023), or $54,500 post-tax. This means that, assuming the above relationship holds, a dollar will do about 68 times more good if you give it to someone in Kenya rather than spending it on yourself.
                </p>
            <p>If someone earning that average level of income were to donate 10%, they could double the annual income of seven people living in extreme poverty each year. Over the course of their career, they could have a major positive impact on hundreds of people.</p>
            <h4>Lets see an example:- Grace, she’s a 48-year-old widow who lives with 4 children:
                I would like to use part of the money to build a new house, since my house is in a very bad condition. Secondly, I would wish to pay fees for my son to go to a technical institute…
                <br>
                My proudest achievement is that I have managed to educate my son in secondary school.
                My biggest hardship in life is [that I] lack a proper source of income.
                <br>
                My current goals are to build and own a pit latrine and dig a borehole since getting water is a very big problem.</h4>  
                 <img src="/static/images/grace.jpg" id="grace" alt="ice cream eater">
                </div>      
        </section>

        <section class="sketch-card article-card">
            <h1>How Much Sacrifice Will This Involve?</h1>
            <p>Normally people would thing of becoming a teacher or charity worker, so that they can
                help other people but these jobs pay under half what you could earn in the private sector
                so you can just hope that your job will make impact which is like a gamble as we saw
                earlier it can’t be predicted easily. But if you switch to careers where you get high pay,
                then 10% of your income could easily be less of a sacrifice than earlier.
            </p>
            <h4>Moreover, as we saw earlier in the guide, once you start earning more than about $55,000 per year, extra income won’t affect your happiness that much — while acts that help others, like giving to charity, probably make you happier.</h4>
        </section>
        
        <section class="sketch-card article-card">
            <h1>How To Have A Bigger Impact Than Being A Doctor:</h1>
            <p>If you don’t want to be a doctor or want to be a doctor just because you want to save lives.
                Then you should recondidder your decision as you might be able to do more, save more
                lives by donating 10% of your income than by treating your patients.</p>

            <p>There are a lot of good charitys which use donated money at right place saving thousands
                of lives, improving quality of lives or giving money for research to find solutions for
                big problems we face right now in the world or have been facing them since long time.
                </p>
                
            <h4>If everyone in the richest 10% of the world’s population donated 10% of their income, that would be $5 trillion per year. That would be enough to double scientific research funding, raise everyone in the world above the $2.15 per day poverty line, provide universal basic education, and still have plenty left to fund a renaissance in the arts, go to Mars, and then invest $1 trillion in mitigating climate change. None of this would be straightforward to achieve, but it at least illustrates the enormous potential of greater giving.</h4>    
        </section>

        <section class="sketch-card article-card">
            <h1>How is this possible?</h1>
            <p>It’s astonishing that we can do so much good while sacrificing so little. How is this possible?
            </p>
            <h3>Consider one of the most important graphs in economics, the graph of world income:
            </h3>
            <div class="imagecontainer">
            <img src="/static/images/ppp.webp" id="doctors" alt="ice cream eater">
                </div>
            <p>X-axis shows the percentage of people in the world who earn each level of income(in ppp
                indicated by the y-axis). If the world were completely equal, the line would be horizontal.
            </p>
            <p>If you are citizens of countries like US and the UK, you should know you’re rich by
                global standards, but you don’t usually think of yourselves as the richest people in the
                world --- as not all of you are bankers, CEOs, or celebrities. But actually, if you earn
                $60,000 per year after taxes and don’t have kids, then globally speaking, you are the 1%.
            </p>
            
            <p>This does emphasise how important it is to consider how you can use your good fortune to help others. In a more equal world, we could just focus on helping those around us, and making our own lives go well. But it turns out we have an enormous opportunity to help other people with little cost to ourselves — and it would be a terrible shame to squander it. </p>
            <h2>Take action right now:</h2>
            <p>If you are right now thinking to start donating, then you must start now or else if you
                keep this as a task for later then it will never happen. You might someday regret you
                had everything but you just forgot to share and due to which a lot of people died.
                You can go to best charities sites online, research a little where you want to donate
                as no one want your donated money to be wasted and take a pledge to give 10% of
                your income for rest of your life now.</p>

            <p>You should also consider how much you actually want to give . If you don’t earn much
                then just give 1% of your income. You should not forget about  your self and your family
                too. If you don’t want to take a Pledge but are sure you will donate that is fine too.
            </p>    
        </section>

        <section class="sketch-card article-card">
           <h1>2.What If You Don’t Want To Give Money?</h1>
           <p>Most people were lucky they were born in right country at right time due to which
                they grew to be successful humans , yes hardwork is a factor too but it wouldn’t have
                mattered if you were born in a country were war was going on , were people, kids,
                everyone would be dieyig.
            </p>
            <div class="imagecontainer">
            <img src="/static/images/vote.jpg" id="doctors" alt="ice cream eater">
                </div>
            <p>
                If you are reading this then you are lucky that you were not born in the worst countries.
                So if you don’t want to give money then use advantages, powers you have like give
                vote to the right person, demand right things from government. If you have powerfull
                friends you could ask them to help and do a lot good more than what you might have
                done with money.
                <br>
                So all you have to do is use all advantages you have in your life.</p>    
        </section>

        <section class="sketch-card article-card">
            <h1>3. Being a “multiplier”</h1>
            <p>If none of the options avalible above works for you then just be a multiplier. Talk to
                friends about this , post on social media and one day there might be someonw who
                gets inspired by you and starts donating or a friend of your friend might have power
                to do a lot good . So just socalize and talk how donating money and all this stuff is
                good for everyone.</p>    
        </section>

        <section class="sketch-card article-card">
            <h1>Conclusion: anyone can make a difference</h1>
            <p>So, good news: you don’t need to throw yourself out of a plane to do good. In fact, there are far easier (and safer) ways to have an impact that are much more effective.
                Due to our fortunate positions in the world, there’s a lot we can do to make a difference without making significant sacrifices, whatever jobs we end up in.</p>

            <h3>Here are some key ways to make a big positive impact without changing jobs:
                <br>
                <br>
            1. Give 10% of your income to effective charities.
            <br>
            2. Use your political influence, such as by voting.
            <br>
            3. Help others have an impact.
            </h3>
            <p>You might like to consider taking the 10% pledge right now.
                Or take a moment to consider how else you might be able to make a big impact with little sacrifice.
                What if you want to make a difference directly through your career? If you can achieve so much with just 10% of your income, then what you could achieve with your entire job over decades could be huge. That’s what we’ll cover in the next three articles.</p>

        </section>

        <section class="sketch-card article-card">
            <h1>THE END</h1>
            <p>Now it’s THE END, philosphy and guide. If you still don’t get what you have to
                exactly do. Go to part 1 of this guide and follow Apply This To Your Own Career
                which is present at the end of part 1 guide.</p>

            <p>If you want to see this guide with more detailed version ,more with evidences and studies.
                Then visit 80000 hour career guide.</p>    
        </section>


    </main>
    
</body>
</html>