<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part1</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <div id="cursor-follower"></div>

    <main class="container">
        
        <section class="sketch-card article-card">

            <h1>Part 1: The Big Picture And Dreams</h1>

            <p>You have 80.000 hours in your career. That’s indeed a long time.
                I guess you can easily spend one or two of those hours on this guide
                so that you don't regret the remaining ones.
            </p>Aim of this guide is to
                find a career for you which is satisfying and will make you an assit
                for humanity.
                This guide is inspired from 80000 hours Career guide.
                https://80000hours.org/career-guide/
            <p>

            <div class="nav-buttons">
                <a href="{{ url_for('home') }}" class="sketch-button nav-btn">&larr; Back Home</a>
                <a href="#" class="sketch-button nav-btn">Part 2: What to work on & rarr;</a>
            </div>

        </section>

        <section class="sketch-card article-card">

            <h2>60 studies were reviewed for what makes for a dream job.Here’s what they found:</h2>
            <p>What is dream job for you? Some of you would say discovering passion and working
                in that field, while others would think key element of dream job is less stress and highly paid.
                But all these stuides and 3 decades of research into the cause of a satisfying life and career
                they didn't find much evidence for these views.</p>

            <p>Then what did they find?
                They found 6 key ingredients of a dream job.Income and just “follow your passion”
                excluded suprizengly.In fact, just following passion blindely can lead you astra.Steve
                Jobs was passionate about Zen Buddhism before entering technology.Rather, you can
                develop passion by doing work that you find enjoyable and meaningful.The key is to
                get good at something that helps other people</p>    
        </section>

        <section class="sketch-card article-card">
            <p>To find a dream job, look for:
                <br>
                1. Work you're good at.
                <br>
                2. Work that helps others.
                <br>
                3.Supportive conditions: engaging work that makes you enter flow state, supportive colleagues,
                lack of major negatives like unfair pay, and work that fits your personal life.</p>
        </section>

        <section class="sketch-card article-card">
            <h2>Brain Is Not Your Friend(Mostly):</h2>
            <p>You can probably think of times in your life when you were excited about something,
                like a holiday, party, hangout or a event --- but when it actually happened, it was just OK.
                Research has shown that this is common: we’re not always great at predicting what will
                make us most happy, and we don’t realise how bad we are at this.</p>
            
            <h4>The fact that we often judge the pleasure of an experience by its ending can cause us to make some curious choices.
                <br>
               --Prof Dan Gilbert, Stumbling on Happiness</h4>

            <p>If you missed your flight on the last day of an enjoyable holiday,you’ll probably remember
                the holiday as just OK.
                <br>
                This means we can’t just trust our intuitions;we need a more systematic way of working out
                which job is best for us.</p>   
        </section>

        <section class="sketch-card article-card">
            <h2>Overratted goals for a fulfilling career:</h2>

            <h4>People often imagine that a dream job is well paid and easy.
                <br>
                In 2015 US survey:
                <br>
                1.Is it highly paid?
                <br>
                2.Is it going to be highly paid in future?
                <br>
                3.Is it stressful?
                <br>
                4.Is the working environment unpleasant?</h4>

            <p>Based on this, best job was: actuary. A job where you use statistics to measure and manage
                risks, mostly in insurance industry.It’s true that employees in this job are more satisfied with
                their jobs than average, but still not among top most satisfied jobs.Majority of them say their
                job is not that meaningful as it only benefits that corporation they work for.</p>

            <h4>So, many evidences suggests that money and avoiding stress aren’t that important.</h4>
            
            <h3>Money makes you happier, but only a little:</h3>
            
            <p>I am not here to preach or debate about philosphy that can money buy happiness or not?
                But people commonly think more money is the main thing which will improve quality of
                their lives.
            <br>
                Is that true statistically?
            <br>
                Here are the findings from a huge survey in US in 2010:</p>

            <p>This graphs show us if you are already being paid fair for your work no matter how much
                more money you start earning, your life satisfaction will not increase much.We can see here
                even when money is increased significantly life satisfaction haven’t increased much after
                6.5 or 7.</p>  
                
            <p>Now if we look at day-to-day happiness, income seems even less important.”Positive affect”
                graph shows whether people reported feeling happy yesterday.</p>
                
            <p>We can see that line goes almost flat around $50,000, showing that beyond this point, income had no relationship with day-to-day happiness in this survey.</p>    

            <p>The picture is similar if we look at the fraction who report being “not blue(emotionally stable)
                or “stress free” yesterday.</p>

            <p>So all this data shows that lines are completely flat by $90,000.Beyond this point, income had no
                relationship with how happy, sad, or stressed people felt.
                This was suprizing for all so data was checked multiple time to see errors but it was same always.
            </p>
            
            <h4>High income improves evaluation of life but not emotional well-being,
                <br> 
                --D. Kahneman and A. Deaton, 2010,</h4>

            <p>All this data doesn’t mean money isn’t important or you shouldn’t focus on it at all.It just means
                if you are already earning well, then more money will not give you more happiness and money should be one of the thing you focus on not the only thing you focus on. </p>

            <h3>Don't Aim for low stress:</h3>
            
            <p>Most prople want a job that’s not too stressful.It’s true and everyone know
                stress is bad for you but we don’t need stress we need eustress.So ya picture is
                a bit more complicated.</p>

            <p>If we think about high-rank government and military leaders we might think that
                they will have high stress as they have more responsibility, more people to manage
                and less sleep mostly.But if we look at data it’s completely opposite they have less
                stress hormones and less anxiety.One explanation for  this can be due to greater sense
                of control(setting schedules, dueties and thinking how to tackle challenges).</p>
                
            <h4>The perfect spot looks somewhat like this:
                <br>
                1. Challenging but achievable
                <br>
                2. Duration Short-term(can have holidays)
                <br>
                3. High control and autonomy
                <br>
                4. High Power
                <br>
                5. Good social support
                <br>
                6. demands=opprtunities and stress=useful
                <br>
                8. Have ultimate goal for your actions.</h4>
                
            <p>Graph for this will look like this:</p>
                
        </section>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>