<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part 2</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
</head>
<body>
    
    <div id="cursor-follower"></div>

    <main class="container">

        <section class="sketch-card article-card">
            <h1>Can 1 Person make a difference?,</h1>

            <p>You might feel like, Why should I play by the rules when others aren’t?
                How much can I create there is just one me and thousands of big problems,
                and they often seem impossible to solve.</p>

            <p>Yes, there are many bad people in this world but so are good. If light exist
                shadows will too and vice-versa. So you are not alone and don’t underestimate
                how much impact just 1 person make we will see later in article WHY?</p>
                
            <h4>In other words, one person can make a difference ---but you might have to do something
                a little unconventional.</h4>
        </section>

        <section class="sketch-card article-card">
            <h1>How Much Imapct Do Doctors Have?</h1>

            <p>Doctor’s Primary purpose is to improve health, so we tried to figure out how much extra
                “health” 1 doctor actually adds to humanity. We found, an average doctor in the UK over
                the course of their career will enable their patients to live about an extra combined 100 years
                of healthy life, either by extending lifespans or by improving overall health. Ofcourse, a
                huge amount of uncertainty is there in this figure, but real figure probably won’t be more than
                10 times higer than this.</p>

            <p>If we use a standard conversion rate (used by World Bank and other institutions). 30 extra
                years of healthy life = 1 life saved, 100 years of healthy life is equivalent to about 3 lives
                saved. This is surely a significant impact; however, it’s less of an impact than many people
                expect doctors to have over their entire career.</p>
                
                <h3>3 main reasons this impact is lower than you might expect:</h3>
                <h4>
                1. Researchers largely agree that medicine = increased average life expectancy by a few years
                    only. Most gains in life expectancy = due to better nutrition, improved sanitation, increased wealth,
                    and other factors.
                <br>
                <br>
                2. Doctors are only 1 part of the medical system, which also relies on a lot of other things, we all know.
                <br>
                <br>
                3. There are already a lot of doctors in the developed world, so if you don’t become a doctor, someone
                    else will be available to  perform the most critical procedures. (Point to be noted this implyes for developed countries only)
                </h4>
                
                <h3>This last point is illustrated by the chart below:</h3>


                <div class="imagecontainer">
            <img src="/static/images/doctors.webp" id="doctors" alt="ice cream eater">
                </div>

                <p>Here DALY = 1 year of life lost due to ill health per 100,000. We can see that the curve goes nearly flat once you have more than 150 doctors per 100,000 people. After this point (which all developed countries meet), additional doctors onl achive a small impact on average.</p>

                <h4>So if you become a doctor in a rich country like the US or UK, you may well do more good than you would in many other jobs, and if you are an exceptional doctor, then you’ll have a bigger impact than these averages. But it probably won’t be a huge impact.</h4>
        </section>

        <section class="sketch-card article-card">
            <h1>Some Highest-Impact People In History</h1>

            <p>Despite this uninspiring statistic about how many lives a doctor saves, some
                doctors have had much more impact than this.</p>

            <p>By 1968, it had been shown that a solution of glucose and salt, given via
                feeding tube or intravenous drip, could prevent death due to cholera. Still
                million of people were dying as this process was not that easy. Then while
                working in refugee camp on the border of Bangldesh and Burma, Dr. David
                Nalin sought to turn this insight into a therapy that could be used in poor rural
                areas. He showed that simply drinking a solution made at the right concentration
                and consumed at the right rate could be almost as effective as delivery via feeding
                tube or anything else.</p>

                <div class="imagecontainer">
            <img src="/static/images/ors.jpg" id="doctors" alt="ice cream eater">
                </div>
                
            <p>Since then, this astonishingly simple treatment has been used all over the world, and the annual rate of child deaths from diarrhoea has plummeted from around 5 million to 1.5 million. Researchers estimate that the therapy has saved over 50 million lives to date, mostly children’s.</p>    

            Surely if Dr Nalin had not been around, someone else would have discovered this eventually.
            However, even if we imagine that he sped up the roll-out of the treatment by only five months, his work alone would have saved about 500,000 lives. This is a very approximate estimate, but it makes his impact more than 100,000 times greater than that of an ordinary doctor:

                <div class="imagecontainer">
            <img src="/static/images/naline.webp" id="naline" alt="ice cream eater">
                </div>

            <h3>Another Medical research example would be Karl Landsteiner’s discovery of blood
                groups which has saved tens of millions of lives by enabling transfusions.</h3>
                
                <div class="imagecontainer">
            <img src="/static/images/lan.webp" id="naline" alt="ice cream eater">
                </div>

            <h1>The Soviet Lieutenant Colonel Who Saved Your Life:</h1>
            <div class="imagecontainer">
            <img src="/static/images/soviet.webp" id="naline" alt="ice cream eater">
                </div>

            <p>Stanislav Petrov, a Lieutenant Colonel in the Soviet Army during the Cold War. In 1983
                during his duty early warning systems apparently detected an incoming missile strike from   
                the United States. If he would have followed Protocol, he would have ordered a return
                strike. Which perhaps would have started an all-out nuclear war, leading to billions of
                deaths and potentially the end of civilisation.</p>    

            <p>But he did’nt as he thought that numberof  incoming missiles were too small to warrant a counterattack and he was right it wasjust a system failure/glitch which caused this. There were no missiles coming and thanks to his decission we all are still alive today. </p>    

                <div class="imagecontainer">
            <img src="/static/images/petrov.webp" id="naline" alt="ice cream eater">
                </div>
        </section>

        <section class="sketch-card article-card">
            <h1>What Do These Differences In Impact Mean For Your Career?</h1>
            <p>We’ve seen some careers have had huge positive effects, and some have vastly
                more than others. We can’t really tell which careers will have the highest impact.
                    </p>
            <p>As somewhat this is due to luck – the people mentioned above were in the right place at
                the right time. You can’t guarantee you’ll make an important medical discovery.</p>
                
            <p>So, what does this mean for you?</p>
            <p>The key question should be: Don't ask, "How can I make a difference?" Almost any job makes some difference. Instead ask, "What is the best way to make the most difference?"</p>
            <p>These examples above also show us, highest-impact careers aren’t always the obvious ones, we might
                think being a political leader would have more impact but we saw above how an officer in the Soviet
                military had more impact than any leader or scientist.</p>
                
            <h3>The Core Message:</h3>
            <h4>Having a massive impact on the world requires strategic, analytical thinking, rather than just doing what feels traditionally helpful or following a passion. It is about maximizing your scale.
            </h4>    

            <div class="imagecontainer">
            <img src="/static/images/moresocial.webp" id="naline" alt="ice cream eater">
                </div>
        </section>

        <section class="sketch-card article-card">
            <h1>Why This Definition?</h1>
            <p>Everyone can have different a different defination, motive and a way to make our world
                a better place and our defination captures all these ideas as much as possible. As if we help
                more people , to some extent and for long term then those people can become assets to
                humanity too creating a chain of heros who don’t just work for themselves they work
                for humanity.</p>

            <p>You can never perfectly measure how much good a career will do. But you can use probability. A 10% chance to help 1,000 people is better than a 100% chance to help 10 people. If you can't measure the math, use "rules of thumb"—like working on problems that everyone else is ignoring (neglected areas).
                So don’t let fear of uncertainty paralyze you. Being strategic is more important than having perfect data.</p>
                
            <h3>The Golden Rule: Don't Be a Villain</h3>
            <h4>Trying to maximize your impact doesn't give you a free pass to do bad things. The "ends justify the means" approach is wrong. You still have to be a good person, respect human rights, and use common sense. So character still matters. You shouldn’t do something unethical just
                because it might lead to a good outcome later.</h4>    
        </section>


            <div class="nav-buttons">
                <a href="{{ url_for('home') }}" class="sketch-button nav-btn">&larr; Back Home</a>
                <a href="{{ url_for('part3')}}" class="sketch-button nav-btn">Part 3: ABC XYZ &rarr;</a>
            </div>
    </main>
    
</body>
</html>